<launch>
  <arg name="ip_address" />

  <node name="horizontal_laser" pkg="urg_node"
    type="urg_node" >
    <param name="ip_address" value="$(arg ip_address)" />
    <param name="frame_id" value="base_laser_link" />
  </node>

  <node pkg="tf" type="static_transform_publisher" name="odom_to_base_footprint"
    args="0.0 0.0 0.0  0.0 0.0 0.0 /odom /base_footprint 100" />
  <node pkg="tf" type="static_transform_publisher" name="base_footprint_to_base_link"
    args="0.0 0.0 0.0  0.0 0.0 0.0 /base_footprint /base_link 100" />
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_base_laser_link"
    args="0.0 0.0 0.0  0.0 0.0 0.0 /base_link /base_laser_link 100" />
</launch>

