<launch>
  <arg name="set_lidar_frame_id" default="base_footprint"/>

  <include file="$(find ydlidar_x4)/launch/lidar.launch"/>

  <node pkg="turtlebot3_bringup" type="turtlebot3_diagnostics" name="turtlebot3_diagnostics" output="screen">
    <remap from="base_footprint" to="base_scan" />
  </node>
</launch>

